<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<test thread-count="5" name="Create">
		<classes>
			<class name="testCases.paypal.CreateOrderTest" />
			
		</classes>
	</test> 
	<test thread-count="5" name="Get">
		<classes>
			
			<class name="testCases.paypal.GetOrderTest" />
		</classes>
	</test>
</suite> 
